<p id="notice"><%= notice %></p>

<h1>Listing Leagues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Season</th>
      <th>Year</th>
      <th>Final name</th>
      <th>League type dropdown</th>
      <th>League type</th>
      <th>Description</th>
      <th>Limit</th>
      <th>Price</th>
      <th>Start players birthday</th>
      <th>Last players birthday</th>
      <th>Show on main page</th>
      <th>Open registration</th>
      <th>Close registration</th>
      <th>Hide on main page</th>
      <th>Receive emails</th>
      <th>Email</th>
      <th>Competitive</th>
      <th>Disabled</th>
      <th>Slug</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.name %></td>
        <td><%= league.season %></td>
        <td><%= league.year %></td>
        <td><%= league.final_name %></td>
        <td><%= league.league_type_dropdown %></td>
        <td><%= league.league_type %></td>
        <td><%= league.description %></td>
        <td><%= league.limit %></td>
        <td><%= league.price %></td>
        <td><%= league.start_players_birthday %></td>
        <td><%= league.last_players_birthday %></td>
        <td><%= league.show_on_main_page %></td>
        <td><%= league.open_registration %></td>
        <td><%= league.close_registration %></td>
        <td><%= league.hide_on_main_page %></td>
        <td><%= league.receive_emails %></td>
        <td><%= league.email %></td>
        <td><%= league.competitive %></td>
        <td><%= league.disabled %></td>
        <td><%= league.slug %></td>
        <td><%= league.notes %></td>
        <td><%= link_to 'Show', league %></td>
        <td><%= link_to 'Edit', edit_league_path(league) %></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New League', new_league_path %>
