<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Season:</strong>
  <%= @league.season %>
</p>

<p>
  <strong>Year:</strong>
  <%= @league.year %>
</p>

<p>
  <strong>Final name:</strong>
  <%= @league.final_name %>
</p>

<p>
  <strong>League type dropdown:</strong>
  <%= @league.league_type_dropdown %>
</p>

<p>
  <strong>League type:</strong>
  <%= @league.league_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @league.description %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @league.limit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @league.price %>
</p>

<p>
  <strong>Start players birthday:</strong>
  <%= @league.start_players_birthday %>
</p>

<p>
  <strong>Last players birthday:</strong>
  <%= @league.last_players_birthday %>
</p>

<p>
  <strong>Show on main page:</strong>
  <%= @league.show_on_main_page %>
</p>

<p>
  <strong>Open registration:</strong>
  <%= @league.open_registration %>
</p>

<p>
  <strong>Close registration:</strong>
  <%= @league.close_registration %>
</p>

<p>
  <strong>Hide on main page:</strong>
  <%= @league.hide_on_main_page %>
</p>

<p>
  <strong>Receive emails:</strong>
  <%= @league.receive_emails %>
</p>

<p>
  <strong>Email:</strong>
  <%= @league.email %>
</p>

<p>
  <strong>Competitive:</strong>
  <%= @league.competitive %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @league.disabled %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @league.slug %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @league.notes %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
