<%- model_class = Player -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:middle_initial) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:postal_code) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:email_address) %></th>
      <th><%= model_class.human_attribute_name(:date_of_birth) %></th>
      <th><%= model_class.human_attribute_name(:years_played) %></th>
      <th><%= model_class.human_attribute_name(:played_competitively) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:name_of_parent_guardian) %></th>
      <th><%= model_class.human_attribute_name(:willing_to_coach) %></th>
      <th><%= model_class.human_attribute_name(:willing_to_assist_coach) %></th>
      <th><%= model_class.human_attribute_name(:child_like_to_play_goalie) %></th>
      <th><%= model_class.human_attribute_name(:child_has_a_medical_condition) %></th>
      <th><%= model_class.human_attribute_name(:medical_condition) %></th>
      <th><%= model_class.human_attribute_name(:appectance_of_terms) %></th>
      <th><%= model_class.human_attribute_name(:league_id) %></th>
      <th><%= model_class.human_attribute_name(:transaction_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.id, league_player_path(player.league_id, player.id) %></td>
        <td><%= player.last_name %></td>
        <td><%= player.first_name %></td>
        <td><%= player.middle_initial %></td>
        <td><%= player.address %></td>
        <td><%= player.city %></td>
        <td><%= player.postal_code %></td>
        <td><%= player.phone_number %></td>
        <td><%= player.email_address %></td>
        <td><%= player.date_of_birth %></td>
        <td><%= player.years_played %></td>
        <td><%= player.played_competitively %></td>
        <td><%= player.gender %></td>
        <td><%= player.name_of_parent_guardian %></td>
        <td><%= player.willing_to_coach %></td>
        <td><%= player.willing_to_assist_coach %></td>
        <td><%= player.child_like_to_play_goalie %></td>
        <td><%= player.child_has_a_medical_condition %></td>
        <td><%= player.medical_condition %></td>
        <td><%= player.appectance_of_terms %></td>
        <td><%= player.league_id %></td>
        <td><%= player.transaction_id %></td>
        <td><%=l player.created_at %></td>
        <td>
   <%= link_to t('.edit', :default => t("helpers.links.edit")),
               edit_league_player_path(player.league_id, player.id), :class => 'btn btn-default btn-xs' %>
   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
               league_player_path(player.league_id, player.id),
               :method => :delete,
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
               :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 
