<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @player.middle_initial %>
</p>

<p>
  <strong>Address:</strong>
  <%= @player.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @player.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @player.postal_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @player.phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @player.email_address %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @player.date_of_birth %>
</p>

<p>
  <strong>Years played:</strong>
  <%= @player.years_played %>
</p>

<p>
  <strong>Played competitively:</strong>
  <%= @player.played_competitively %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @player.gender %>
</p>

<p>
  <strong>Name of parent guardian:</strong>
  <%= @player.name_of_parent_guardian %>
</p>

<p>
  <strong>Willing to coach:</strong>
  <%= @player.willing_to_coach %>
</p>

<p>
  <strong>Willing to assist coach:</strong>
  <%= @player.willing_to_assist_coach %>
</p>

<p>
  <strong>Child like to play goalie:</strong>
  <%= @player.child_like_to_play_goalie %>
</p>

<p>
  <strong>Child has a medical condition:</strong>
  <%= @player.child_has_a_medical_condition %>
</p>

<p>
  <strong>Medical condition:</strong>
  <%= @player.medical_condition %>
</p>

<p>
  <strong>Appectance of terms:</strong>
  <%= @player.appectance_of_terms %>
</p>

<p>
  <strong>League:</strong>
  <%= @player.league_id %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @player.email_address %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @player.transaction_id %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
